@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.form{
    max-width: 952px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: #000 0px 5px 10px;
    border-radius: 0 0 5px 5px;
}

.form-header{
    display: flex;
}

.form-header button{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: pointer;
}



.f-form select{
    width: 150px;
}

.s-form select{
    width: 150px;
}

.t-form select{
    width: 80px;
}

.d-form{
    margin-left: 10px;
}

.date{
    margin-top: -18px;
    display: inline-block;
}

.date:nth-child(2){
    margin-left: 10px;
}

.date input{
    padding: 14.5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.date input:focus{
    outline: 0;
}

.DM{
    min-width: 100%;
}
    
.input{
    max-width: 952px;
    height: 142px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}

.main-h1{
    padding-top: 20px;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 0 0;
}

.main-form{
    padding-left: 15px; 
    display: flex;   
    width: 100%;
}

.s-form, .t-form{
    margin-left: 10px;
}

.main-form select{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    border-radius: 5px;
}

option{
    margin-top: 4px;
    margin-bottom: 4px;
}

.predict-btn{
    border: 0px;
    border-radius: 10px;
    padding: 12px 31px;
    background-color: #5072CE;
    cursor: pointer;
    margin-left: 10px;
}

.predict-btn:hover{
    outline: 0.5px solid black;
}

.predict-btn p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.charts{
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

.f-graph{
    margin: 0 auto;
    width: 60vw;
    background-color: #fff;
    padding-bottom: 50px;
}
